@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #0f0f0f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
button{
    border-style: none;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: transparent;
}
li, a{
    text-decoration: none;
    list-style: none;
    transition: all 0.25s ease;
}
input{
    outline: none;
    border-style: none;
    background-color: transparent;
}
img{
    display: block;
    max-width: 100%;
}
body{
    background-color: #0F0F0F;
    margin-top: 30px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;
}

//                              ХЕДЕР

header{
    margin-top: 30px;
    background-color: #191919;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1820px;
    margin: 0 auto;
    height: 111px;
    margin-bottom: 20px;
    nav{
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 95%;
        height: 95%;
        ul{
            max-width: 950px;
            display: flex;
            justify-content: space-between;
            gap: 16px;
            a{
                padding: 18px 24px;
                font-size: 1.125rem;
                border-radius: 12px;
                color: #81807E;
                background-color: #0F0F0F;
                display: flex;
                align-items: center;
                font-family: monospace;
                font-weight: 500;
                &:hover{
                    color: #E7BEB1;
                    padding: 18px 20px;
                }
            }
            .nav-contact{
                background-color: #CE7D63;
                color: #0F0F0F;
                &:hover{
                    color: #0F0F0F;
                    background-color: #8d4b35;
                }
            }
        }
        .logo-title{
            font-size: 1.75rem;
            color: #F3DFD8;
            font-family: "Aldrich", sans-serif;
            &:hover{
                color: #81807E;
            }
        }
    }
}

//                              СЕКЦИЯ 1

.sec1{
    margin: 0 auto;
    width: 100%;
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_top{
        display: flex;
        height: 592px;
        gap: 20px;
        &-left{
            width: 65%;
            background-color: #191919;
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            &__inside{
                width: 97%;
                height: 92%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__title{
                    width: auto;
                    max-width: 1140px;
                    margin: 0 auto;
                    width: 90%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        font-size: 1.125rem;
                        color: #676665;
                        line-height: 1.5;
                    }
                    div{
                        height: 238px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h1{
                            font-size: 4rem;
                            color: #F9EFEC;
                            font-weight: bold;
                        }
                        span{
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            button{
                                gap: 7px;
                                height: 77px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                color: #CE7D63;
                                font-size: 1.5rem;
                                &:hover{
                                    font-size: 1.575rem;
                                    font-weight: bold;

                                }
                            }
                        }
                    }
                }
                &__list{
                    background-color: #0F0F0F;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 70px;
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        p{
                            color: #676665;
                            width: auto;
                            font-size: 1.25rem;
                            font-family: monospace;
                            max-width: fit-content;
                        }
                        .dot{
                            color: #CE7D63;
                        }
                    }
                }
            }
        }
        &-right{
            border-radius: 12px;
            background-color: #1F1F1F;
            width: 34%;
            display: flex;
            flex-direction: column;
            &__bg{
                display: flex;
                justify-content: end;
                height: 465px;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                background-image: url(images/sec1/bg.png);
                &__button{
                    width: 153px;
                    height: 171px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &__description{
                display: flex;
                justify-self: end;
                height: 128px;
                justify-content: center;
                align-items: center;
                div{
                    width: 85%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h2{
                        color: #F9EFEC;
                        font-size: 1.5rem;
                    }
                    p{
                        color: #B3B3B2;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
    &_bot{
        width: 100%;
        border: #1F1F1F 2px solid;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        &-inside{
            width: 98%;
            height: 85%;
            display: flex;
            gap: 20px;
            article{
                width: 25%;
                height: 150px;
                background-color: #191919;
                border-radius: 14px;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: monospace;
                    font-size: 1.125rem;
                    color: #B3B3B2;
                }
                h2{
                    color: #DA9E8B;
                    font-size: 3.75rem;
                    font-weight: bold;
                }
                button{
                    display: flex;
                    align-items: center;
                    font-family: monospace;
                    font-size: 1.25rem;
                    color: #B3B3B2;
                    gap: 10px;
                    &:hover{
                        font-size: 1.4rem;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

//                              СЕКЦИЯ 2

.sec2{
    max-width: 1820px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
    border: #1F1F1F 2px solid;
    justify-content: center;
    align-items: center;
    min-height: 614px;
    &-inside{
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 99%;
        &_title{
            display: flex;
            height: 156px;
            border-radius: 16px;
            background-color: #191919;
            justify-content: center;
            align-items: center;
            div{
                width: 95%;
                h1{
                    font-size: 3rem;
                    color: #F9EFEC;
                }
            }
        }
        &_boxes{
            display: flex;
            justify-content: space-between;
            article{
                max-width: 430px;
                width: 100%;
                height: 398px;
                border-radius: 14px;
                background-color: #191919;
                display: flex;
                align-items: center;
                justify-content: center;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 80%;
                    height: 80%;
                    span{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        h2{
                            color: #F9EFEC;
                            font-weight: normal;
                            font-size: 1.875rem;
                            line-height: 1.5;
                        }
                        p{
                            color: #B3B3B2;
                            font-size: 1.125rem;
                            line-height: 1.5;
                        }
                    }
                    button{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 1.125rem;
                        color: #B3B3B2;
                        &:hover{
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

//                              СЕКЦИЯ 3

.sec3{
    max-width: 1820px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
    border: #1F1F1F 2px solid;
    justify-content: center;
    align-items: center;
    min-height: 1026px;
    &-inside{
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 99%;
        &_title{
            display: flex;
            height: 156px;
            border-radius: 16px;
            background-color: #191919;
            justify-content: center;
            align-items: center;
            div{
                width: 95%;
                h1{
                    font-size: 3rem;
                    color: #F9EFEC;
                }
            }
        }
        &_boxes{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            &-section{
                height: 395px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                article{
                    height: 395px;
                    max-width: 880px;
                    width: 100%;
                    background-color: #191919;
                    border-radius: 14px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .sec3-inside_boxes-section__ins{
                        width: 80%;
                        height: 55%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        &-top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h3{
                                max-width: 400px;
                                width: 100%;
                                font-size: 1.875rem;
                                color: #F9EFEC;
                            }
                            button{
                                width: 195px;
                                color: #B3B3B2;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 1.25rem;
                                font-family: monospace;
                                &:hover{
                                    font-size: 1.335rem;
                                }
                            }
                        }
                        p{
                            color: #B3B3B2;
                            line-height: 1.5;
                            font-size: 1.125rem;
                        }
                        h2{
                            text-align: end;
                            font-size: 1.875rem;
                            color: #F9EFEC;
                        }
                    }
                }
            }
        }
    }
}

//                              СЕКЦИЯ 4

.sec4{
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    min-height: 1140px;
    gap: 20px;
    &__main-title{
        display: flex;
        height: 156px;
        border-radius: 16px;
        background-color: #191919;
        justify-content: center;
        align-items: center;
        div{
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 95%;
            h1{
                font-size: 3rem;
                color: #F9EFEC;
                height: 56px;
                align-self: center;
            }
            button{
                font-size: 1.25rem;
                font-family: monospace;
                color: #B3B3B2;
                display: flex;
                align-items: center;
                gap: 10px;
                &:hover{
                    font-size: 1.4rem;
                }
            }
        }
    }
    &__boxes{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-box{
            width: 100%;
            height: 100%;
            max-height: 466px;
            border-radius: 20px;
            border: 2px solid #1F1F1F;
            display: flex;
            justify-content: space-between;
            padding: 20px 20px;
            gap: 20px;
            &_left{
                max-height: 466px;
                width: 34%;
                border-radius: 14px;
                background-color: #191919;
                display: flex;
                align-items: center;
                justify-content: center;
                &-inside{
                    width: 85%;
                    height: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &_title{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        div{
                            display: flex;
                            align-items: center;
                            gap: 14px;
                            p{
                                font-size: 1.5rem;
                                color: #F9EFEC;
                            }
                        }
                        button{
                            color: #B3B3B2;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 1.25rem;
                            font-family: monospace;
                            &:hover{
                                font-size: 1.335rem;
                            }
                        }
                    }
                    &-categories{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        div{
                            width: fit-content;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border-radius: 45px;
                            background-color: #1F1F1F;
                            padding: 10px 16px;
                            .text_category-title{
                                color: #B3B3B2;
                                font-size: 1.125rem;
                            }
                            .text_category-dot{
                                color: #CE7D63;
                                font-size: 1.5rem;
                                line-height: 0;
                            }
                            .text_category-description{
                                color: #E6E6E6;
                                font-weight: bold;
                            }
                        }
                    }
                    p{
                        line-height: 1.5;
                        font-size: 1.125rem;
                        color: #B3B3B2;
                    }
                }
            }
            &_mid{
                width: 33%;
            }
            &_right{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 33%;
                h3{
                    font-size: 1.125rem;
                    color: #FFFFFF;
                    line-height: 1.5;
                }
                &_first{
                    height: 225px;
                    border-radius: 14px;
                    background-color: #191919;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        width: 85%;
                        height: 65%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        span{
                            display: flex;
                            gap: 10px;
                            height: 100px;
                            flex-wrap: wrap;
                            p{
                                height: fit-content;
                                width: fit-content;
                                padding: 10px 16px;
                                border-radius: 100px;
                                background-color: #1F1F1F;
                                font-size: 1.125rem;
                                font-family: monospace;
                                color: #E6E6E6;
                            }
                        }
                    }
                }
                &_second{
                    height: 90px;
                    border-radius: 14px;
                    background-color: #191919;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &-inside{
                        width: 85%;
                        height: 70%;
                        display: flex;
                        justify-content: space-between;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                button{
                    background-color: #CE7D63;
                    border-radius: 12px;
                    width: 100%;
                    height: 63px;
                    color: #0F0F0F;
                    font-size: 1.125rem;
                    &:hover{
                        font-size: 1.2rem;
                        background-color: #8d4b35;
                    }
                }
            }
        }
    }
}

//                              СЕКЦИЯ 5

.sec5{
    max-width: 1820px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
    border: #1F1F1F 2px solid;
    justify-content: center;
    align-items: center;
    min-height: 632px;
    &-inside{
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 98%;
        &_title{
            display: flex;
            height: 160px;
            border-radius: 16px;
            background-color: #191919;
            justify-content: center;
            align-items: center;
            div{
                display: flex;
                justify-content: space-between;
                align-content: center;
                width: 95%;
                h1{
                    font-size: 3rem;
                    color: #F9EFEC;
                    height: 56px;
                    align-self: center;
                }
                button{
                    font-size: 1.25rem;
                    font-family: monospace;
                    color: #B3B3B2;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &:hover{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &_main{
            display: flex;
            gap: 20px;
            article{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 16px;
                width: 25%;
                height: 404px;
                background-color: #191919;
                .sec5-inside_main_top{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 284px;
                    div{
                        height: 204px;    
                        gap: 24px;
                        width: 85%;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column;
                        h2{
                            font-size: 1.5rem;
                            color: #F9EFEC;
                            line-height: 1.5;
                        }
                        p{
                            line-height: 1.5;
                            font-size: 1.125rem;
                            color: #B3B3B2;
                        }
                    }
                }
                .sec5-inside_main_bot{
                    height: 120px;
                    width: 100%;
                    background-color: #1F1F1F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &_ins{
                        width: 85%;
                        display: flex;
                        justify-content: space-between;
                        div{
                            gap: 15px;
                            display: flex;
                            justify-content: space-between;
                            span{
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                                h4{
                                    font-size: 1.25rem;
                                    color: #F3DFD8;
                                    font-weight: bold;
                                    line-height: 1.5;
                                }
                                p{
                                    font-size: 1.125rem;
                                    color: #81807E;
                                    line-height: 1.5;
                                }
                            }
                        }
                        button{
                            &:hover img{
                                transition: all ease 0.2s;
                                transform: scale(1.15);
                            }
                        }
                    }
                }
            }
        }
    }
}

//                          СЕКЦИЯ 6

.sec6{
    max-width: 1820px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
    justify-content: center;
    min-height: 1056px;
    margin-bottom: 120px;
    &-inside{
        width: 100%;
        height: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        &_title{
            width: 100%;
            display: flex;
            height: 160px;
            border-radius: 16px;
            background-color: #191919;
            justify-content: center;
            align-items: center;
            div{
                display: flex;
                justify-content: space-between;
                align-content: center;
                width: 95%;
                h1{
                    font-size: 3rem;
                    color: #F9EFEC;
                    height: 56px;
                    align-self: center;
                }
                button{
                    font-size: 1.25rem;
                    font-family: monospace;
                    color: #B3B3B2;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &:hover{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &_main{
            min-height: 868px;
            display: flex;
            gap: 20px;
            &_left{
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                &-question{
                    width: 100%;
                    background-color: #191919;
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &_check{
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                        width: 0;
                        height: 0;
                    }
                    &_toggle{
                        width: 90%;
                        height: 132px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        cursor: pointer;
                        transition: height 0.35s ease;
                        &__ins{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div{
                                max-width: 830px;
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                gap: 30px;
                                h3{
                                    color: #F9EFEC;
                                    font-size: 1.375rem;
                                    height: 54px;
                                }
                                p{
                                    display: none;
                                    line-height: 1.5;
                                    color: #B3B3B2;
                                    font-size: 1.125rem;
                                }
                            }
                        }
                    }
                    &_icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &-minus{
                            display: none;
                        }
                    }
                    &_check:checked + &_toggle{
                        height: 260px;
                        > .sec6-inside_main_left-question_toggle__ins{
                            height: 140px;
                            align-items: start;
                            div{
                                h3{
                                    border-bottom: #262626 1px solid;
                                }
                                p{
                                    display: block;
                                }
                            }
                        }
                        .sec6-inside_main_left-question_icon-plus{
                            display: none;
                        }
                        .sec6-inside_main_left-question_icon-minus{
                            display: block;
                        }
                    }
                }
            }
            &_right{
                height: 830px;
                width: 40%;
                border-radius: 14px;
                background-color: #191919;
                display: flex;
                align-items: center;
                justify-content: center;
                &_ins{
                    width: 90%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    h3{
                        font-size: 1.5rem;
                        color: #F9EFEC;
                        height: 86px;
                        border-bottom: #262626 1px solid;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h4{
                            font-size: 1.125rem;
                            color: #F9EFEC;
                        }
                        input{
                            border-radius: 10px;
                            width: 100%;
                            height: 75px;
                            background-color: #0F0F0F;
                            color: #a7a09f;
                            line-height: 1.5;
                            font-size: 1.125rem;
                            padding: 24px 24px;
                            display: flex;
                            &::placeholder{
                                color: #676665;
                            }
                        }
                        textarea{
                            height: 75px;
                            border-radius: 10px;
                            width: 100%;
                            background-color: #0F0F0F;
                            color: #a7a09f;
                            line-height: 1.5;
                            font-size: 1.125rem;
                            padding: 24px 24px;
                            display: flex;
                            resize: none;
                            border: none;
                            outline: none;
                            &::placeholder{
                                color: #676665;
                            }
                        }
                        .input-question{
                            height: 172px;
                        }
                    }
                    button{
                        background-color: #CE7D63;
                        border-radius: 12px;
                        width: 100%;
                        height: 63px;
                        color: #0F0F0F;
                        font-size: 1.125rem;
                        &:hover{
                            font-size: 1.2rem;
                            background-color: #8d4b35;
                        }
                    }
                }
            }
        }
    }
}

//                          ФУТЕР

footer{
    padding-bottom: 50px;
    // height: 1160px;
    height: auto;
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    gap: 20px;
    .footer__top{
        border-radius: 20px;
        background-color: #CE7D63;
        height: 305px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-inside{
            height: 145px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h1{
                    color: #0F0F0F;
                    line-height: 1.5;
                    font-size: 3.325rem;
                    font-weight: 400;
                }
                p{
                    color: #262626;
                    line-height: 1.5;
                    font-size: 1.125rem;
                    max-width: 1200px;
                }
            }
            button{
                width: 224px;
                height: 64px;
                border-radius: 12px;
                background-color: #0F0F0F;
                color: #F3DFD8;
                line-height: 1.5;
                font-size: 1.125rem;
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: end;
                img{
                    width: 28px;
                    height: 28px;
                }
                &:hover{
                    transform: scale(1.08);
                }
            }
        }
    }
    .footer__slider{
        height: 70px;
        border-radius: 12px;
        background-color: #191919;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-family: monospace;
            font-size: 1.25rem;
            color: #676665;
        }
        .dot{
            font-size: 2rem;
            color: #CE7D63;
        }
    }
    .footer__bottom{
        min-height: 694px;
        height: 100%;
        display: flex;
        gap: 20px;
        &_left{
            max-width: 750px;
            width: 100%;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            &_social{
                width: 100%;
                max-width: 364px;
                height: 337px;
                border-radius: 14px;
                background-color: #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover{
                    background-color: #161616;
                }
                &-inside{
                    width: 75%;
                    height: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &_top{
                        display: flex;
                        justify-content: space-between;
                        .footer_img-arrow{
                            width: 52px;
                            height: 52px;
                        }
                        .footer_img-logo{
                            width: 66px;
                            height: 66px;
                        }
                    }
                    &_bot{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        h2{
                            font-size: 1.875rem;
                            color: #F9EFEC;
                            line-height: 1.5;
                        }
                        p{
                            color: #B3B3B2;  
                            line-height: 1.5;
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
        &_right{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__links{
                width: 100%;
                height: 341px;
                border-radius: 20px;
                background-color: #191919;
                display: flex;
                align-items: center;
                justify-content: center;
                &-inside{
                    display: flex;
                    width: 80%;
                    justify-content: space-between;
                    div{
                        max-width: 188px;
                        width: 100%;
                        height: 221px;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        h3{
                            font-size: 1.375rem;
                            color: #F3DFD8;
                            line-height: 1.5;
                            font-family: monospace;
                        }
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 18px;
                            a{
                                font-size: 1.125rem;
                                color: #81807E;
                                line-height: 1.5;
                                &:hover{
                                    font-size: 1.4rem;
                                }
                            }
                            p{
                                font-size: 1.125rem;
                                color: #363636;
                                line-height: 1.5;
                                span{
                                    font-size: 1rem;
                                    border-radius: 6px;
                                    border: #333333 1px solid;
                                    background-color: #262626;
                                    padding: 4px 12px;
                                    line-height: 1.5;
                                    color: #CCCCCC;
                                }   
                            }
                        }
                    }
                }
            }
            &__subscribe{
                width: 100%;
                height: 182px;
                border-radius: 20px;
                background-color: #191919;
                display: flex;
                align-items: center;
                justify-content: center;
                &-inside{
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    div{
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        p{
                            font-family: monospace;
                            font-size: 1.125rem;
                            color: #676665;
                            line-height: 1.5;
                        }
                        h2{
                            line-height: 1.5;
                            font-size: 1.875rem;
                            color: #F9EFEC;
                        }
                    }
                    span{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        justify-content: center;
                        input{
                            width: 100%;
                            max-width: 395px;
                            border-bottom: 1px solid #333333;
                            color: #F9EFEC;
                            font-size: 1.125rem;
                            line-height: 1.5;
                            padding: 18px 20px;
                            &::placeholder{
                                color: #676665;
                            }
                        }
                        button{
                            width: 52px;
                            height: 52px;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            &__privacy{
                width: 100%;
                height: 127px;
                border-radius: 20px;
                background-color: #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    p{
                        line-height: 1.5;
                        font-size: 1.125rem;
                        font-family: monospace;
                        color: #B3B3B2;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        span{
                            color: #232329;
                            font-size: 2rem;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
}